<%= form_for(@admin) do |f| %>
  
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :nic, "NIC" %><br>
    <%= f.text_field :nic, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :password_digest, "Password" %><br>
    <%= f.text_field :password_digest, class: "form-control", required: 'required' %>
  </div>
  <div class="actions">
    <%= f.button :submit => "",class: "btn btn-primary" %> <%= link_to 'Back', root_path %>
  </div>
<% end %>
