<p id="notice"><%= notice %></p>

<p>
  <strong>Msale:</strong>
  <%= @debt.msale %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @debt.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @debt.date %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @debt.paid %>
</p>

<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
