<%= form_for(@currency) do |f| %>
  
  <% if @currency.errors.any? %>
    <%= render "layouts/show_form_error_msg", locals: {objects: @currency} %> 
  <% end %>

  <div class="field form-group">
    <%= f.label :burma %><br>
    <%= f.number_field :burma, class: "form-control", required: 'required', min: 1 %>
  </div>
  <div class="field form-group">
    <%= f.label :us %><br>
    <%= f.number_field :us, class: "form-control", required: 'required', min: 1 %>
  </div>
  <br>
  <div class="actions">
    <%= f.button :submit => "",class: "btn btn-primary" %> <%= link_to 'Back', currencies_path %>
  </div>
<% end %>
