<h1>Purchase Cart</h1>  

<% unless notice.nil? || notice.empty? %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
        <p id="notice"><%= notice %></p>   
  </div>
<% end %>

<%= form_tag('update_purchase_cart', method: :post) do  %>

<table class="table table-bordered">
  <thead>
    <tr>
    	<th>#</th>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>Menu</th> 
    </tr>
  </thead>

  <tbody>
    <% @datas.each do |data| %>
      <tr>
        <td><%= data["id"] %></td> 
        <td><%= data["name"] %></td> 
        <td><%= data["category"] %></td> 
        <td> 
        	<input type="number" min="0" value="<%= data["qty"] %>" class="form-control" id="q<%= data["category"] %><%= data["id"] %>" name="q<%= data["category"] %><%= data["id"] %>" required="required"/>
        </td> 
        <td>
        	<input type="number" min="0" value="<%= data["price"] %>" class="form-control" id="p<%= data["category"] %><%= data["id"] %>" name="p<%= data["category"] %><%= data["id"] %>" required="required"/>
        </td>
        <td><%= data["qty"].to_i * data["price"].to_i %></td>  
        <td> 
        	<%= link_to 'Remove', remove_from_cart_path(id: data["id"], category: data["category"]), class: "btn btn-link" %>
        </td>
      </tr>
    <% end %>
    <tr>
    	<td colspan="5"></td>
    	<td>Subtotal</td>
    	<td><%= number_to_currency(@total) %></td>
    </tr>
    <tr>
    	<td colspan="5">.</td>
    	<td></td>
    	<td></td>
    </tr>
    <tr>
    	<td colspan="6"></td> 
    	<td>
    		<%= submit_tag("Update",class: "btn btn-success") %>
	    	<%= link_to 'Checkout', new_purchase_path , class: "btn btn-primary" %>
    	</td>
    </tr>
  </tbody>
</table>
<% end %>