<p id="notice"><%= notice %></p>

<h1>Purchases orders</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Invoices</th>
      <th>Name / Company</th>
      <th>Address</th> 
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to  "PINV#"+purchase.id.to_s + purchase.created_at.year.to_s + purchase.created_at.month.to_s + purchase.created_at.day.to_s, purchase %></td>
        <td><%= purchase.name %></td>
        <td><%= purchase.address %></td> 
        <td><%= purchase.total %></td> 
      </tr>
    <% end %>
  </tbody>
</table> 