<h1 class="text-center">Purchase Invoice</h1>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <td><b>Name</b></td>
      <td><%= @purchase.name %></td>
    </tr>

    <tr>
      <td><b>Address</b></td>
      <td><%= @purchase.address %></td>
    </tr>

    <tr>
      <td><b>NIC</b></td>
      <td><%= @purchase.nic %></td>
    </tr>

    <tr>
      <td><b>Phone</b></td>
      <td><%= @purchase.phone %></td>
    </tr>

    <tr>
      <td><b>Total</b></td>
      <td><%= number_to_currency(@purchase.total) %></td>
    </tr>

    <tr>
      <td><b>Date</b></td>
      <td><%= @purchase.created_at %></td>
    </tr>

    <tr>
      <td><b>Invoice</b></td>
      <td>PINV#<%= @purchase.id.to_s + @purchase.created_at.year.to_s + @purchase.created_at.month.to_s + @purchase.created_at.day.to_s%></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr> 
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Rate</th> 
      <th>Amount</th> 
    </tr>
  </thead>

  <tbody>
    <% 
      @purchase_details.each do |purchase|
    %>
      <tr> 
        <% output = ""
          case purchase["stockable_type"]
          when "Machine"
            output = purchase.stockable["model"] 
          when "Part"
            output = purchase.stockable["model"] + " (" + purchase.stockable.machine["model"] + ")"
          when "Needle"
            output = purchase.stockable["model"]+ " " + purchase.stockable["category"] + " (" +purchase.stockable["size"].to_s + ")"
          when "Motor"
            output = purchase.stockable["brand"] +" "+ purchase.stockable["name"] + " (" + purchase.stockable["watt"].to_s + ")" 
          when "Table"
            output = purchase.stockable["brand"] + purchase.stockable["name"] + " (" + purchase.stockable["width"].to_s + "x" + purchase.stockable["height"].to_s + ")"
          when "Stand"
            output = purchase.stockable["brand"] + purchase.stockable["name"]
          end
        %>
        <td><%= output %></td> 
        <td><%= purchase["stockable_type"] %></td> 
        <td><%= purchase["qty"] %></td> 
        <td><%= purchase["price"] %></td> 
        <td><%= purchase["qty"].to_i * purchase["price"].to_i %></td> 
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td>Subtotal</td>
      <td><%= number_to_currency(@purchase.total) %></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>Tax</td>
      <td>0</td>
    </tr> 
    <tr>
      <td colspan="3"></td>
      <td>Grand Total</td>
      <td><%= number_to_currency(@purchase.total) %></td>
    </tr>
  </tbody>
</table>