<p id="notice"><%= notice %></p>

<p>
  <strong>Msale:</strong>
  <%= @delivery.msale %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @delivery.staff %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @delivery.customer %>
</p>

<p>
  <strong>Nic:</strong>
  <%= @delivery.nic %>
</p>

<p>
  <strong>Address:</strong>
  <%= @delivery.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @delivery.phone %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
