<p id="notice"><%= notice %></p>

<p>
  <strong>Msale:</strong>
  <%= @chass.msale %>
</p>

<p>
  <strong>Msale detail:</strong>
  <%= @chass.msale_detail %>
</p>

<p>
  <strong>Chassisnum:</strong>
  <%= @chass.chassisnum %>
</p>

<%= link_to 'Edit', edit_chass_path(@chass) %> |
<%= link_to 'Back', chasses_path %>
