<%= form_for(@table) do |f| %>

  <% if @table.errors.any? %>
    <%= render "layouts/show_form_error_msg", locals: {objects: @table} %> 
  <% end %>

  <div class="field form-group">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :width %><br>
    <%= f.number_field :width, class: "form-control", required: 'required', min: 1 %>
  </div>
  <div class="field form-group">
    <%= f.label :height %><br>
    <%= f.number_field :height, class: "form-control", required: 'required', min: 1 %>
  </div>
  <div class="field form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control", required: 'required', min: 1 %>
  </div>
  <br>
  <div class="actions">
    <%= f.button :submit => "",class: "btn btn-primary" %> <%= link_to 'Back', tables_path %>
  </div>
<% end %>
