<%= form_for(@motor) do |f| %>
  
  <% if @motor.errors.any? %>
    <%= render "layouts/show_form_error_msg", locals: {objects: @motor} %> 
  <% end %>

  <div class="field form-group">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control"  %>
  </div>
  <div class="field form-group">
    <%= f.label :watt %><br>
    <%= f.number_field :watt, class: "form-control", required: 'required', min: 1 %>
  </div> 
  <div class="field form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control", required: 'required', min: 1 %>
  </div>
  <br>
  <div class="actions">
    <%= f.button :submit => "",class: "btn btn-primary" %> <%= link_to 'Back', motors_path %>
  </div>
<% end %>
