<% unless notice.nil? || notice.empty? %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
        <p id="notice"><%= notice %></p>   
  </div>
<% end %>

<h1>Listing Motors</h1>

<table class="datatabled table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Watt</th>
      <th>Quantity</th> 
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @motors.each do |motor| %>
      <tr>
        <td><%= link_to motor.brand, edit_motor_path(motor) %></td>
        <td><%= motor.name %></td>
        <td><%= motor.watt %></td>
        <td><%= motor.qty %></td> 
        <td><%= link_to 'Destroy', motor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motor', new_motor_path, class: 'btn btn-primary' %>
