<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @motor.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @motor.name %>
</p>

<p>
  <strong>Watt:</strong>
  <%= @motor.watt %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @motor.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= @motor.price %>
</p>

<%= link_to 'Edit', edit_motor_path(@motor) %> |
<%= link_to 'Back', motors_path %>
