<p id="notice"><%= notice %></p>

<h1>Listing Machines</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Series</th>
      <th>Namemm</th>
      <th>Nameeng</th>
      <th>Description</th>
      <th>Company</th>
      <th>Stock</th>
      <th>Qty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.model %></td>
        <td><%= machine.series %></td>
        <td><%= machine.namemm %></td>
        <td><%= machine.nameeng %></td>
        <td><%= machine.description %></td>
        <td><%= machine.company %></td>
        <td><%= machine.stock %></td>
        <td><%= machine.qty %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
