<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @machine.model %>
</p>

<p>
  <strong>Series:</strong>
  <%= @machine.series %>
</p>

<p>
  <strong>Name Myanmar:</strong>
  <%= @machine.namemm %>
</p>

<p>
  <strong>Name English:</strong>
  <%= @machine.nameeng %>
</p>

<p>
  <strong>Description:</strong>
  <%= @machine.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @machine.company %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @machine.stock %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @machine.qty %>
</p> 
<%= link_to 'Back', root_path %>
