<%= form_for(@stand) do |f| %>
  
  <% if @stand.errors.any? %>
    <%= render "layouts/show_form_error_msg", locals: {objects: @stand} %> 
  <% end %> 
  
  <div class="field form-group">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, class: "form-control", required: 'required' %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>  
  <br>
  <div class="actions">
    <%= f.button :submit => "",class: "btn btn-primary" %> <%= link_to 'Back', stands_path %>
  </div>
<% end %>
