<% unless notice.nil? || notice.empty? %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
        <p id="notice"><%= notice %></p>   
  </div>
<% end %>

<h1>Listing Stands</h1>

<table class="datatabled table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Quantity</th> 
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stands.each do |stand| %>
      <tr>
        <td><%= link_to stand.brand, edit_stand_path(stand) %></td>
        <td><%= stand.name %></td>
        <td><%= stand.qty %></td>  
        <td><%= link_to 'Destroy', stand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stand', new_stand_path, class: "btn btn-primary" %>