<p id="notice"><%= notice %></p>

<h1>Listing Sales</h1>

<table>
  <thead>
    <tr>
      <th>Proforma</th>
      <th>Staff</th>
      <th>Customer</th>
      <th>Address</th>
      <th>Nic</th>
      <th>Phone</th>
      <th>Cash</th>
      <th>Total</th>
      <th>Postpone</th>
      <th>Tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.proforma %></td>
        <td><%= sale.staff %></td>
        <td><%= sale.customer %></td>
        <td><%= sale.address %></td>
        <td><%= sale.nic %></td>
        <td><%= sale.phone %></td>
        <td><%= sale.cash %></td>
        <td><%= sale.total %></td>
        <td><%= sale.postpone %></td>
        <td><%= sale.tax %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
