<h4 class="text-center">U CHUN 陳永春</h4>
<p class="text-center">No43A, No(4) Main Road, Shwe Pyi Thar Tsp, YGN, Myanmar</p>
<p class="text-center"><small>Email-aeinchun969@gmail.com | Phone-05013286 | Fax-614038</small></p>

<table class="table table-bordered table-condensed printed">
  <tbody> 
    <tr>
      <td><b>Customer / Company</b></td>
      <td><%= @sale.customer %></td>
    </tr>
    
    <% unless @sale.nic == "" %>
    <tr>
      <td><b>NIC</b></td>
      <td><%= @sale.nic %></td>
    </tr>
    <% end %>

    <% unless @sale.address == "" %>
    <tr>
      <td><b>Address</b></td>
      <td><%= @sale.address %></td>
    </tr>
    <% end %>

    <% unless @sale.phone == "" %>
    <tr>
      <td><b>Phone</b></td>
      <td><%= @sale.phone %></td>
    </tr>
    <% end %>

    <% if @sale.postpone == true %>
      <tr>
      <td><b>Debit</b></td>
      <td><%= @sale.cash %></td>
    </tr>
    <% end %>

    <tr>
      <td><b>Date</b></td>
      <td><%= @sale.created_at %></td>
    </tr>

    <tr>
      <td><b>Invoice</b></td>
      <td>SINV#<%= @sale.id.to_s + @sale.created_at.year.to_s + @sale.created_at.month.to_s + @sale.created_at.day.to_s%></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-condensed">
  <thead>
    <tr> 
      <th>Name</th> 
      <th>Category</th> 
      <th>Quantity</th>
      <th>Rate</th> 
      <th>Amount</th> 
    </tr>
  </thead>

  <tbody>
    <% 
      @sale_details.each do |sale|
    %>
      <tr>
        <% output = ""
          case sale["itemable_type"] 
          when "Part"
            output = sale.itemable["model"] + " (" + sale.itemable.machine["model"] + ")"
          when "Needle"
            output = sale.itemable["model"]+ " " + sale.itemable["category"] + " (" +sale.itemable["size"].to_s + ")" 
          end
        %>
        <td><%= output %></td>
        <td><%= sale["itemable_type"] %></td>
        <td><%= sale["qty"] %></td>
        <%
          price = 0
          case sale["itemable_type"] 
          when "Part"
            @part = Part.find(sale["itemable_id"])
            price = @part.price
          when "Needle"
            @needle = Needle.find(sale["itemable_id"])
            price = @needle.price
          end 
        %>
        <td><%= price %></td>
        <td><%= sale["qty"].to_i * price.to_i %></td> 
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>      
      <td>Subtotal</td>
      <td><%= number_to_currency(@sale.total) %></td>
    </tr>
    <tr>
      <td>Staff Sign(<%= @sale.staff.name %>)</td>
      <td colspan="2">Customer Sign</td>
      <td>Note</td>
      <td></td>
    </tr> 
    <tr>
      <td colspan=""></td>
      <td colspan="2"></td>
      <td>Grand Total</td>
      <td><%= number_to_currency(@sale.total) %></td>
    </tr>
  </tbody>
</table>