<ul class="nav nav-sidebar">
  <li class="<%= 'active' if params[:controller] == 'home' %>">
  	<%= link_to "Home", root_path %>
  </li>

  <li class="<%= 'active' if params[:controller] == 'motors' %>">
  	<%= link_to "Motors", motors_path %>
  </li>

  <li class="<%= 'active' if params[:controller] == 'tables' %>">
  	<%= link_to "Tables", tables_path %>
  </li>

	<li class="<%= 'active' if params[:controller] == 'stands' %>">
  	<%= link_to "Stands", stands_path %>
  </li>

  <li class="<%= 'active' if params[:controller] == 'machines' %>">
  	<%= link_to "Machines", machines_path %>
  </li>

  <li class="<%= 'active' if params[:controller] == 'needles' %>">
  	<%= link_to "Needles", needles_path %>
  </li>

  <li class="<%= 'active' if params[:controller] == 'parts' %>">
  	<%= link_to "Parts", parts_path %>
  </li>
</ul>