<nav class="nav nav-sidebar">
    <ul class="nav bs-docs-sidenav">
    <% if session["admin"] && !session["admin"].nil?  %>
        <li>
        	<a href="<%= purchase_cart_path unless session[:purchase_cart].nil? || session[:purchase_cart].empty? %>">
        		<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Purchase Cart <span class="badge"><%= session[:purchase_cart].count unless session[:purchase_cart].nil? || session[:purchase_cart].empty? %></span>
        	</a>
        </li>
        <li>
            <a href="<%= msale_cart_path unless session[:msale_cart].nil? || session[:msale_cart].empty? %>">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Sale Cart <span class="badge"><%= session[:msale_cart].count unless session[:msale_cart].nil? || session[:msale_cart].empty? %></span>
            </a>
        </li>
        <li>
            <% 
                datas = [] 
                debts = Debt.where(paid: false)
                debts.each do |debt|
                  if Date.today.to_date >= debt.date.to_date
                    datas << debt 
                  end
                end
            %>
        	<a href="<%= debts_path %>"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Debts <span class="badge"><%= datas.count unless datas.count == 0 || datas.nil? %></span></a>
        </li>
        <li>
        	<a href="<%= post_pone_sale_path %>"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Postpone sales <span class="badge"><%= Sale.where(postpone: true).count %></span></a>
        </li> 

        
        <li>
        	<a href="<%= chasses_path %>"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Warranted Machines </a>
        </li>
        
    <% end %>
    
    <% if session["staff"] && !session["staff"].nil?  %>

        <li>
            <a href="<%= sale_cart_path unless session[:sale_cart].nil? || session[:sale_cart].empty? %>">
                Sale Cart <span class="badge"><%= session[:sale_cart].count unless session[:sale_cart].nil? || session[:sale_cart].empty? %></span>
            </a>
        </li> 
        

    <% end %>
    </ul>
</nav>


<% if session["staff"] && !session["staff"].nil?  %>
    <p>Welcome - <%= session[:staff_name]  %></p>
    <p>
        <%= Currency.last.burma.to_s + "Ks = " + Currency.last.us.to_s  + "$"%>
    </p>
<% end %>