<!DOCTYPE html>
<html>
<head>
  <title><%= params[:action].capitalize.to_s %>|<%= params[:controller].capitalize.to_s %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-3 sidebar"> 
				<%= render 'layouts/sidebar_warehouse' %> 
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<%= yield %>
			</div>		
		</div>
	</div>

</body>
</html>
